//canvas

#canvas1{
    background-color: rgb(0, 0, 0); 
    align-content: center;
}

//background

body {
    background-image: url("../images/galaxyA.png");
    font-family: Futura;
}

//login

.login{
    display: flex;
    list-style: none;
}

// page layout
.dataSetsCont{
    display: flex;
}

.imageControls{
    display: flex;
    justify-content: space-evenly;
    
}

.imageType{
    display: flex;
    list-style: none;
}
.imageType li {
    margin-left: 1em;
}
///onload partial

.valueTest{
    color: rgb(187, 183, 241);
}

.formInputs{
    list-style: none;
    display: list-item;
    overflow: scroll;
    height: 5em;
    width: 20em;

}
// saved div parameter
.paramCollection{
    background-color: rgba(240, 248, 255, 0.171);
    height: 5em;
    width: 25em;
    overflow: scroll;
}
.parameterHeader{
    display: flex;
    list-style: none;
}

.paramName{
    display: flex;
}