//canvas

#canvas1{
    background-color: rgb(0, 0, 0); 
}

//background

body {
    background-image: url("../images/galaxyA.png");
    font-family: Futura;
}



///onload partial

.valueTest{
    color: rgb(187, 183, 241);
}


// saved div parameter
.paramCollection{
    background-color: rgba(240, 248, 255, 0.171);
    height: 10em;
    width: 15em;
    overflow: scroll;
}
.parameterHeader{
    display: flex;
    margin-left: 1em;
}

.paramName{
    padding-left: 1em;
    padding-top: 1em;
    display: flex;
}