

//////////MAIN BACKGROUND

body {
    background-image: url("../images/galaxyA.png");
    font-family: Futura;
}
///////////LANDING
@keyframes javalamp {
    0% {text-shadow: 5px 5px 10px rgba(208, 183, 241, 0);}
    50% {text-shadow: 5px 5px 10px rgba(187, 183, 241, 0.719);}
    100% {text-shadow: 5px 5px 10px rgba(187, 183, 241, 0);}
}
.login a:link {
    color:black;
}
.login a:visited{
    color:black;
}
.login a:hover{
    text-align: center;
    color: rgb(187, 183, 241);
    transition: color 1s;
}
.tag{
    color:rgba(255, 255, 255, 0.637);
    margin: auto;
    text-align: center;
    justify-content: center;
}
.welcome{
    border-radius: 15px;
    padding-top: 15%;
    text-align: center;
    font-size: 3em;
    margin: 0;
    animation-name: javalamp;
    animation-duration: 8s;
    color: rgb(187, 183, 241);
};
.login{
    text-align: center;
    display: flex;
    list-style: none;
    justify-content: center;
}
.login ul{
    justify-content: center;
    text-align: center;
    display: flex;
    list-style: none;
}
.homeNav {
    display: flex;
    list-style: none;
    justify-content: space-evenly;

}
#landing{
    background-color: rgb(0, 0, 63);
}
.views{
    list-style: none;
    display:flex;
    margin: 0;
    justify-content: center;
}
.homeNav{
    border-radius: 15px;
    background-color: rgba(58, 87, 255, 0.445);
}
.homeNav:hover{
    background-color: rgba(119, 140, 255, 0.445);
    transition: background-color 1s;
}
.homeNav li:hover {
    text-align: center;
    color: rgb(187, 183, 241);
    transition: color 1s;
}
.gallery2{
    margin: none;
    border-radius: 15px;
    height: 18em;
    width: 50em;
    overflow: scroll;
}
/////////////SCENE
.nav{
    border-radius: 15px;
    background-color: rgba(58, 87, 255, 0.445);
    justify-content: space-evenly;
    list-style: none;
    display: flex;
}
.nav:hover {
background-color: rgba(119, 140, 255, 0.445);
    transition: background-color 1s;
}
.nav li:hover {
    color: rgb(187, 183, 241);
    transition: color 1s;
}

#canvas1{
    background-color: rgb(0, 0, 0); 
}
.instructions{
    font-size: .95em;
    margin: 0px;
    padding: 0px;
    
   color: rgb(187, 183, 241);
   text-align: center;
   justify-content: center;
   background-color: rgba(58, 87, 255, 0.65);
}
.topHalf{
    display: flex;
    flex: wrap;
    list-style: none;
}
//////////////PAGE LAYOUT
.dataSetsCont{
    list-style: none;
    display: flex;
}
.imageControls{
    border-radius: 15px;
    background-color: rgba(58, 87, 255, 0.445);
    transition: background-color 1s;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    list-style: none;    
}
.imageControls li:hover{
    color: rgb(187, 183, 241);
    transition: color 1s;
}
.imageType{
    display: flex;
    list-style: none;
}
/////////////////
input[value=innerText]{
    background-color: rgba(60, 188, 141, 0);
    color: white;
    outline: none;
    border: none;
}
input[type=text]{
    background-color: rgba(60, 79, 188, 0.527);
    color: white;
    outline: none;
    border: none;
}
input[type=text]:hover {
    background-color: rgba(119, 140, 255, 0.445);
    transition: background-color 1s;
    color: rgb(187, 183, 241);
    outline: none;
    border: 1em, solid, rgb(187, 183, 241);
    transition: border 2s;
}
.formInputs{
    justify-content: center;
    border-radius: 15px;
    list-style: none;
    display: flex;
    flex: wrap;   
    height: 8em;
    width: 45em;
    overflow: scroll; 
}
.formInputs:hover{
    background-color: rgba(58, 87, 255, 0.445);
    transition: background-color 2s;
}
.group1{
    text-align: center;
    justify-content: center;
    padding:1%;
    border-radius: 15px;
    list-style: none;
    height: 6.5em;
    overflow: scroll;     
}
.group1 li{
    justify-content: center;
    text-align: center;
}
.group1:hover{
    
    background-color: rgba(119, 140, 255, 0.445);
    transition: background-color 1s;
}
.subgroup1{
    text-align: center;
    margin: 0px;
    padding: 0px;
    list-style-position: outside;
    list-style: none;
}
.subgroup1 ul {
    text-align: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.subgroup1 li:hover {
    color: rgb(187, 183, 241);
    transition: text-shadow 1s;
    text-shadow: 2px 2px 6px rgb(187, 183, 241);
    transition: text-shadow 3s;
}
// saved div parameter
.paramCollection{
    text-align: center;
    border-radius: 15px;
    height: 4em;
    width: 15em;
    overflow: scroll;
}
.paramDiv:hover {
    border-radius: 15px;
    background-color: rgba(58, 87, 255, 0.445);
    transition: background-color 2s;
}
.paramCollection:hover {
    background-color: rgba(119, 140, 255, 0.445);
    transition: background-color 1s;
}
.paramCollection li:hover{
    color: rgb(187, 183, 241);
}
.init{
    color: rgb(187, 183, 241);
    background-color: rgba(119, 139, 255, 0.192);
    text-align: center;
}
.parameterHeader{
    justify-content: space-around;
    border-radius: 15px;
    display: flex;
    list-style: none;
    text-align: center;
}
.parameterHeader:hover {
    background-color: rgba(119, 140, 255, 0.445);
    transition: background-color 1s;
}
.parameterHeader li:hover {
    color: rgb(187, 183, 241);
    transition: color 1s;
    text-shadow: 2px 2px 6px rgb(187, 183, 241);
    transition: text-shadow 3s;
}
.paramHeadLine{
    border-radius: 15px;
    text-align: center;
    background-color: rgba(119, 140, 255, 0.445);
   
}
.paramName{
    text-align: center;
    display: flex;
}
.paramName li:hover {
    text-align: center;
    color: rgb(187, 183, 241);
    transition: color 1s;
    text-shadow: 2px 2px 6px rgb(187, 183, 241);
    transition: text-shadow 3s;
}
/////////////GALLERY//////
.backBtn{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    border-radius: 15px;
    background-color: rgba(187, 183, 241, 0.397);
}
.backBtn:hover{
    border-radius: 15px;  
    transition: color 1s;
    background-color: rgba(58, 87, 255, 0.445);
    transition: background-color 3s;
}
.backBtn li:hover{
    color: rgb(187, 183, 241);
    transition: color 1s;
}
.gallery{
    margin-top: 2em;
    border-radius: 15px;
    display: flex;
    height: 35em;
    width: 75em;
    overflow: scroll;
}
.gallery:hover{
    background-color: rgba(187, 183, 241, 0.397);
    transition: background-color 4s;
}
.imgTitle{
    font-style: italic;
    color: rgb(187, 183, 241);
}
.imgSet{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.imgForm {
    border-radius: 15px;
    color: rgba(0, 0, 0, 0);
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
.imgForm:hover {
    color: rgb(0, 0, 0);
    transition: color 2s;
    background-color: rgba(58, 87, 255, 0.445);
    transition: background-color 2s;
}
.imgForm li:hover {
    text-align: center;
    color: rgb(187, 183, 241);
    transition: color 1s;
    text-shadow: 2px 2px 6px rgb(187, 183, 241);
    transition: text-shadow 3s;
}
/////////SLIDER
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: .25em;
    background: rgba(187, 183, 241, 0);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;  
}
.slider:hover {
    opacity: 1;
    background: rgb(187, 183, 241);
    transition: opacity .2s;  
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 5px;
    width: .9em;
    height: .9em;
    background: rgb(58, 87, 255);
    cursor: pointer;
}
.slider::-moz-range-thumb {
    width: .9em;
    height: .9em;
    background:  rgb(58, 87, 255);
    cursor: pointer;
}
.slider::-webkit-slider-thumb:hover { 
    width: 1.25em;
    transition: width 1s;
    height: 1.25em;
    transition: height 1s;
    background: rgb(187, 183, 241);
    transition: background 1s;
    cursor: pointer;
}
.slider::-moz-range-thumb:hover {
    width: .9em;
    height: .9em;
    background:  rgba(58, 87, 255, 0.445);
    cursor: pointer;
}

//BreakPoint
@media only screen and (max-width : 320px){
    .instructions{
        // : ce;
    }

    .formsSets{
        max-width: 90%;
        max-height: 40%;
        overflow: scroll;
    }
}