<!-- <div ng-controller="ImageCtrl"> -->
    <ul class="backBtn"> 
        <li ng-click=back()>back to image editor</li>
        <li ng-click= "homeView()">back to home</li>
        <!-- <li ng-click="collection()">wtf</li> -->
    </ul>
    <div class="gallery">
        <div ng-repeat= "image in images">
            <ul class= "imgSet">
                <li>
                    <img ng-src= "{{image.data}}" ng-id="{{image.imageId}}" > 
                </li>

                <li>
                    <form name= "imageForm" ng-submit= "submit(formData,image)">
                        <ul class="imgForm">
                               <li class="imgTitle">{{image.name}}</li> 
                            <li ng-click= "delete(image.imageId)">delete from collection</li>

                            <li ng-click = "submit(formData,image)">update</li>

                            <li><input type= "text" ng-model="formData.name" ng-click = "submit(formData)"  placeholder = "Enter Image Title" class="textInput"></li>
                            
                            <li>make public<input type= "checkbox"  ng-model= "formData.public" ng-click= "submit(formData)" ng-true-value=" 'yes' " ng-false-value =" 'no' " class="checkbox"></li>
                            {{image.public}}
                        </ul> 
                    </form> 
                </li>
            </ul>
        </div>
    </div>
<!-- </div> -->
