<div class= "homePage">
    <div class = "welcome">WELCOME TO JAVA LAMP</div>
    <div> Please log in with a google account to begin</div>
        <ul class="views">
            <li>
                    <div class="gallery2" ng-init= "seeGallery()">
                            <ul ng-repeat= "onLoadImage  in onLoadImages" class= "imgSet">
                                <img ng-src= "{{onLoadImage.data}}" id="{{image.imageId}}"> 
                            </ul>
                    </div> 
            </li>
        </ul>
   
    <ul class="homeNav">
        <li ng-click="toScene()">to image editor</li>
        <li ng-click="toGallery()">to my images</li> 
    </ul>

    <ul ng-repeat="item in loginInput" class="login">
        <li>
            <a ng-show="{{item.bang}}loggedIn" href="#" ng-click="logInAuth(item.name)">{{item.name}}</a>
        </li>
    </ul>
</div>