<div>
    <!-- //                            begin data form -->
    <form name= "paramForm" ng-submit= "submitData(formData)" ng-controller= "SceneCtrl">
        <!--                            sliders-->
        <div class= "dataSetsCont">
        <!-- //value inputs -->
            <div class ="formInputs">
                <input type= "text"  ng-model="formData.paramName" placeholder = "Enter Parameter Name">
                <input type= "text"  ng-model="formData.paramImageText" placeholder = "Enter Image Text"ng-change="submitData(formData)">
                <input type= "range"  ng-model= "formData.x" ng-change= "submitData(formData)" min= "0"  max= "1080">   
                <input type= "range"  ng-model= "formData.y" ng-change= "submitData(formData)" min= "0"  max= "512">   
                <input type= "range"  ng-model= "formData.x1" ng-change= "submitData(formData)" min= "0"  max= "1080">     
                <input type= "range"  ng-model= "formData.y1" ng-change= "submitData(formData)" min= "0"  max= "512">  
                <input type= "range"  ng-model= "formData.x2" ng-change= "submitData(formData)" min= "0"  max= "1080">     
                <input type= "range"  ng-model= "formData.y2" ng-change= "submitData(formData)" min= "0"  max= "512">  
                <input type= "range"  ng-model= "formData.v" ng-change= "submitData(formData)" min= "0"  max= "1080">  
                <input type= "range"  ng-model= "formData.rgbR" ng-change= "submitData(formData)" min= "0"  max= "255"> 
                <input type= "range"  ng-model= "formData.hsl" ng-change= "submitData(formData)" min= "0"  max= "255"> 
                <input type= "range"  ng-model= "formData.mPath" ng-change= "submitData(formData)" min= "0"  max= "2"> 
                <input type= "range"  ng-model= "formData.consBX" ng-change= "submitData(formData)" min= "0"  max= "255"> 
                <input type= "range"  ng-model= "formData.consBY" ng-change= "submitData(formData)" min= "0"  max= "100"> 
                <input type= "range"  ng-model= "formData.numObj" ng-change= "submitData(formData)" min= "0"  max= "15"> 
                <input type= "range" ng-model= "formData.radius" ng-change= "submitData(formData)" min= "0"  max= "15"> 
            </div>
                                 <!-- //recall parameter -->
            <div>
                <div class="savedParameterView">
                        <ul class="parameterHeader">Parameter Sets
                            <li ng-click="save()">:  Save  </li>
                            <li ng-click="loadParam()">,  Load  </li>
                            <li ng-click="exitParamEdit()">,  Exit  </li>
                        </ul>
                </div>
                    <ul class= "paramCollection">
                        <li class="paramName"ng-repeat= "param in params">
                            <div id ={{param.paramsId}} ng-click = "initSavedParam(param)">{{param.paramName}}: Edit </div>
                            <div ng-click="deleteParam(param.paramsId)">, Delete</div>
                        </li>
                    </ul>
                </div>
            </div>
            <!--                            dummy field display -->
            <div class = "valueTest" ng-bind-template = {{formData.paramImageText}}:{{formData.paramImageText}}</div>
            </div>
    </form>

</div>
